<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Default - Load</title>
    <script src="~/Scripts/angular.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Css/application.css" rel="stylesheet" />
    <script src="~/Scripts/Gtm/app.js"></script>
</head>
<body class="re-background" ng-app="Gtm.app">
    <div ng-controller="appController">
        <div ng-show="app.visiblePage == 'login'">
            <div ng-include src="'Scripts/Gtm/views/loginView.html'"></div>
        </div>
        <div ng-show="app.visiblePage == 'admin'">
            <div ng-include src="'Scripts/Gtm/views/adminView.html'"></div>
        </div>
        <div ng-show="app.visiblePage == 'user'">
            <div ng-include src="'Scripts/Gtm/views/userView.html'"></div>
        </div>
    </div>
</body>
</html>


@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default - Load</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Gtm/System.js"></script>
    <script src="~/Scripts/Gtm/Application/client.js"></script>
    <script src="~/Scripts/Gtm/Application/loginpage.js"></script>
    <script src="~/Scripts/Gtm/Application/adminpage.js"></script>
    <script src="~/Scripts/Gtm/Application/userpage.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/application.css" rel="stylesheet" />
    <script src="~/Scripts/Gtm/app.js"></script>
</head>
<body class="re-background" ng-app="Gtm.app">
    <div ng-controller="appController">
        <div>
            <div ng-show="app.visiblePage == 'login'">
                <div ng-include src="'Scripts/Gtm/views/loginView.html'" />
            </div>
        </div>

        <div>
            <div ng-show="app.visiblePage == 'admin'">
                <div ng-include src="'Scripts/Gtm/views/adminView.html'" />
            </div>
        </div>

        <div>
            <div ng-show="app.visiblePage == 'user'">
                <div ng-include src="'Scripts/Gtm/views/userView.html'" />
            </div>
        </div>
    </div>
</body>
</html>*@
@*<script type="text/javascript">
    (function () {
        Gtm.Application.Client.showPage();
        Gtm.app();
    })();
</script>*@
