.re-bordered {
    border: 1px solid black;
}
table.re-bordered{
    border: 1px solid black;
}
th.re-bordered{
    border: 1px solid black;
    white-space: nowrap;
}
td.re-bordered{
    border: 1px solid black;
    white-space: nowrap;
}
