<div ng-controller="adminController" class="container re-bordered">
    <div class='row re-title re-title-lg'>
        <div class='col-md-12'>
            {{funcs.title()}}
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='input-group'>
                <div class='input-group-btn' style='max-width:100px'>
                    <button type='button' class='btn btn-default' ng-disabled="isActionsDisabled">
                        {{texts.buttonNewText}}
                    </button>
                </div>
                <input type='text' class='form-control' style='max-width:100px' />
                <div class='input-group-btn' style='max-width:100px'>
                    <button class='btn btn-default' ng-disabled="isActionsDisabled">
                        {{texts.buttonSearchText}}
                    </button>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <button class='btn btn-default pull-right' ng-click="funcs.logoutAction()" ng-disabled="isActionsDisabled">
                {{texts.buttonLogoutText}}
            </button>
        </div>
    </div>

    <!--<div class="row text-center re-error" ng-if="undefined!==error" style="margin:auto;">
        {{error}}
    </div>-->
</div>