@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RE - login</title>
    <script src="~/Scripts/Gtm/Application/client.js"></script>
    <script src="~/Scripts/jquery-1.8.3.js"></script>
</head>
<body>
    <h2>Views/Login/Index.cshtml</h2>
    <div>
        Hi there!
    </div>
</body>
</html>
<script type="text/javascript">
    (function () {
        console.log("function started");
        console.log(Gtm);
        console.log(Gtm.Application);
        console.log(Gtm.Application.Client);
        console.log(Gtm.Application.Client.init);
        Gtm.Application.Client.init();
    })();
</script>

