@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RE - login</title>
    <script src="~/Scripts/jquery-1.8.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.2.js"></script>
    <script src="~/Scripts/Gtm/System.js"></script>
    <script src="~/Scripts/Gtm/Application/loginpage.js"></script>
    <script src="~/Scripts/Gtm/Application/client.js"></script>
</head>
<body>
    <h2>Views/Login/Index.cshtml</h2>
    <div>
        Hi there!
    </div>
</body>
</html>
<script type="text/javascript">
    (function () {
        Gtm.Application.Client.init();
        Gtm.Application.Client.showPage();
    })();
</script>

