@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RE</title>
</head>
<body>
    <h2>Views/Login/Index.cshtml</h2>
    <div>
        Hi there!
    </div>
</body>
</html>
